@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #323946;
    overflow-x: hidden;
}
#cabe{
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #1f242d;
    height: 150px;
}
#menu{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#nav a {
    text-decoration: none;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .5rem;
}
#nav a:hover{
    color: #4ad1ea;
    background: rgba(91, 101, 105, 0.308);
}
.img{
    color: aliceblue;
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
}

#btn-mobile{
    display: none;
}

@media(max-width: 600px) {
    body{
        overflow-x: hidden;  
    }
    #btn-mobile{
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        font-size: 1.3rem;
        border: none;
        background: none;
        color: aliceblue;
        cursor: pointer;
        gap: .5rem;
    }
    #menu{
       display: block;
       position: absolute;
       width: 100%;
       top: 140px;
       right: 0px;
       background: black;
       height: 0;
       transition: .6s;
       z-index: 999;
       overflow-y: hidden;
       visibility: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 140px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        font-size: 1.3rem;
    }
    #hamburguer{
        width: 20px;
        border-top: 2px solid;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        width: 20px;
        display: block;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .4s;
    }
    #nav.active #hamburguer{
        border-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;

    }
}
/* seção 1 */
